.sidebar-menu{
    background: white;
    height: 65px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
    ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        li{
            float: left;
            padding: 5px 12px;
            a{
                font-size: 14px;
            }

        }
    }
}

.logo-img{
    width: 30%;

}
