.vista__residencia--interna {
	width: 100%;
	margin: 0 0 7px 0;
	text-align: center;
	position: relative;
	@media (min-width: $screen-md-min) {
		margin: 0 0 55px 0;
	}
}

.vista__residencia-div {
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 0 0;
	@media (min-width: $screen-xs-min) {
		width: 188px;
	}
	@media (min-width: $screen-md-min) {
		padding: 0 0 0 0;
		width: 292px;
	}
}

.vista__residencia--content {
	max-width: 500px;
	@media (min-width: $screen-md-min) {
		max-width: 480px;
	}	
}

.residencia__detail {
	position: absolute;
	font-family: $rale;
	font-size: 14px;
	font-style: italic;
	letter-spacing: 0.4px;
	color: $white;
	bottom: 0;
	z-index: 1;
	right: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 7px 20px 7px 20px;
	@media (min-width: $screen-md-min) {
		font-size: 16px;
		letter-spacing: 1.4px;
		padding: 9px 28px 9px 28px;
	}
}

.residencia__disponible-ficha {
	position: fixed;
	right: 20px;
	bottom: 15px;
	z-index: 1;
	text-align: center;
	@media (max-width: $screen-md-max) {
		position: relative;
		right: 0;
		bottom: 0;
		width: 100%;
		text-align: center;
	}
}

.residencia__disponible, .residencia__ficha {
	font-family: $rale;
	font-size: 12.5px;
	font-weight: bold;
	letter-spacing: 1.8px;
	text-align: center;
	color: $black-light;
	padding: 10px 10px;
	border: 1px solid $black-light;
	display: inline-block;
	padding: 2px 4px 2px 4px;
	background: rgba(249, 241, 208, 0.7);
	margin: 0 27px 0 0;
	cursor: pointer;
	&:last-child {
		margin: 0 0 0 0;
	}
	@media (min-width: $screen-md-min) {
		font-size: 15px;
		letter-spacing: 2.1px;
		display: block;
		padding: 9px 13px 7px 13px;
		margin: 0 0 16px 0;
	}
	&:hover {
		text-decoration: none;
		background: $black-light;
		color: $white;		
	}
}

.residencia__scroll {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: $cream;
	line-height: 50px;
	text-align: center;
	margin: 30px auto;
	display: block;
	@media (min-width: $screen-md-min) {
		display: block;
		margin: 0 auto;
	}
	.scroll--curt {
		height: 50px;
		img {
			width: 16px;
		}
	}
}

.residencia__banner {
    min-height: 225px;
    background: url("../img/residencia.jpg");
    background-size: cover;
    background-position: center bottom;
    margin: 0 0 0 0;
    @media (min-width: $screen-md-min) {
    	min-height: 470px;
    	margin: 0 0 0 0;
    } 
	@media (max-height: 640px) {
		min-height: 250px;
    } 
    @media (min-height: 640px) {
		min-height: 280px;
    }
    @media (min-height: 660px) {
		min-height: 300px;
    }  
    @media (min-height: 900px) {
		min-height: 550px;
    } 
    @media (min-height: 1080px) {
		min-height: 730px;
    }
}

.residencias__img {
	margin: 30px 0 0 0;
	@media (min-width: 1368px) {
		margin: 50px 0 0 0;
	}
}

.residencia__row {
	position: relative;
	margin: 0 0 8px 0;
	@media (min-width: $screen-md-min) {
		margin: 0 0 20px 0;
	}
	&:last-child {
		margin: 0 0 0 0;
	}
}

.residencia__row--p {
	position: absolute;
	font-family: $rale;
	font-size: 14.4px;
	font-weight: bold;
	letter-spacing: 1.2px;
	color: $white;
	bottom: 0;
	z-index: 1;
	left: 0;
	margin: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 2px 0 1px 14px;
	width: 153px;
	@media (min-width: $screen-md-min) {
		font-size: 16px;
		letter-spacing: 1.4px;
		width: 228px;
		padding: 7px 0 7px 20px;
	}
}

.vista__h3--letter {
	@media (max-width: $screen-md-max) {
		letter-spacing: 0px;
		margin: 0 0 20px 0;
	}
}

.vista__residencia--tittle {
	@media (max-width: $screen-md-max) {
		max-width: 227px;
	}
}

.vista__residencia--p {
	@media (max-width: $screen-md-max) {
		margin: 40px 0 43px 0;
	}	
}