
<div class="sidebar-menu">
  <ul>
    <li><a href=""><img src="img/icon.png" alt=""/></a></li>
    <li><a href=""><img src="img/icon2.png" alt=""/></a></li>
    <li><a href=""><img src="img/group4.png" alt=""/></a></li>
  </ul>
</div>