
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="Modal-contact">
  <div class="modal-dialog modal__contain" role="document">
    <div class="modal-content modal__contain--sub">
      <div class="modal-button">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-header">
        <h3 class="modal__h3">FORMULARIO</h3>
      </div>
      <div class="modal-body modal__form">
        <form>
          <div class="form-group">
            <p class="form__tittle">NOMBRES Y APELLIDOS</p>
            <input class="form-control form__input" type="text"/>
            <p class="form__tittle"> E-MAIL</p>
            <input class="form-control form__input" type="email"/>
            <p class="form__tittle"> TELÉFONO</p>
            <input class="form-control form__input" type="number"/>
            <p class="form__tittle"> PREGUNTAS / COMENTARIOS</p>
            <textarea class="form-textarea"></textarea>
            <button class="modal__enviar" type="submit">ENVIAR</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade disponibilidad" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ambientes-content">
      <div class="modal-body">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="row">
          <div class="col-md-12">
            <table class="table datos">
              <thead>
                <tr class="tabla-oculta">
                  <th>Nº</th>
                  <th>M<sup>2</sup></th>
                  <th>D.</th>
                  <th>B.</th>
                  <th>T.</th>
                  <th>PLANO</th>
                </tr>
                <tr class="tabla-oculta2">
                  <th>Nº</th>
                  <th>M<sup>2</sup></th>
                  <th>DORM.</th>
                  <th>BAÑOS</th>
                  <th>TERRAZA</th>
                  <th>PLANO</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>201</td>
                  <td>407</td>
                  <td>3</td>
                  <td>4</td>
                  <td>si</td>
                  <td><a href="pdf/departamento-201.pdf" target="_blank">VER PLANO</a></td>
                </tr>
                <tr>
                  <td>203</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="pdf/departamento-203.pdf" target="_blank">VER PLANO</a></td>
                </tr>
                <tr>
                  <td>1302</td>
                  <td>311</td>
                  <td>3</td>
                  <td>4</td>
                  <td>si</td>
                  <td><a href="pdf/departamento-1302.pdf" target="_blank">VER PLANO</a></td>
                </tr>
                <tr>
                  <td>1402</td>
                  <td>255</td>
                  <td>2D + E</td>
                  <td>3</td>
                  <td>si</td>
                  <td><a href="pdf/departamento-1402.pdf" target="_blank">VER PLANO</a></td>
                </tr>
                <tr>
                  <td>1601</td>
                  <td>597</td>
                  <td>4D + E</td>
                  <td>5</td>
                  <td>si</td>
                  <td><a href="pdf/departamento-1601.pdf" target="_blank">VER PLANO</a></td>
                </tr>
                <tr>
                  <td>1801</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><a href="pdf/departamento-1801.pdf" target="_blank">VER PLANO</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade ficha-tecnica" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ficha-content">
      <div class="modal-header">
        <h4>FICHA TÉCNICA</h4>
      </div>
      <div class="modal-body">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="row">
          <div class="col-lg-5 col-xs-6">
            <div class="nombre-ficha">
              <h4>Arquitecto</h4>
              <h4>Bernardo Fort-Brescia</h4>
            </div>
            <div class="detalle-ficha">
              <p> 32 departamentos</p>
              <div class="elementos-ficha">
                <h4>ConecIvidad integrada</h4>
                <h4>Sonido centralizado</h4>
                <h4>Aire acondicionado</h4>
              </div>
              <p>143 estacionamientos</p>
              <p>32 depósitos</p>
            </div>
          </div>
          <div class="col-lg-7 col-xs-5">
            <li>- Lobby</li>
            <li>- Estar</li>
            <li>- Lounge</li>
            <li>- Sala de jóvenes</li>
            <li>- Sala de niños</li>
            <li>- Gimnasio</li>
            <li>- Sala para masajes</li>
            <li>- Piscina deportiva techada y climatizada de 25 mts.</li>
            <li>- Sala de cine</li>
            <li>- Sala para choferes</li>
            <li>- 32 estacionamientos para visitas.</li>
            <li>- Sistema de reciclaje de agua.</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>