
<div class="visor">
  <div class="owl-carousel"></div>
  <nav class="navigator">
    <button class="navigator__arrow navigator__arrow--left"><i class="glyphicon glyphicon-chevron-left"></i></button>
    <div class="navigator__pagination">
      <div class="navigator__pages">
        <input class="navigator__current" type="text"/>de
        <div class="navigator__total"></div>
      </div>
      <button class="navigator__button">Ir al slide</button>
    </div>
    <button class="navigator__arrow navigator__arrow--right"><i class="glyphicon glyphicon-chevron-right"></i></button>
  </nav>
</div>