//colors
$black: #11120f !default;
$white: #f9f1d0 !default;
$cream: #e2dfbb !default;
$black-light: #2a2920 !default;
$line: #847931 !default;

//fonts
$base-font-family: 'Lato';
$rale: $base-font-family;
$base-font-size: 18px !default;
$base-font-color: #2a2920 !default;
$base-font-weight: 300 !default;

//misc
$gutter-bootstrap: 15px !default;

$link-color: #847931 !default;
$link-hover-color: darken( #847931, 10% ) !default;

//sizes
$screen-xs-min: 360px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: 360px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xxs-max: 375px;