.sidebar-footer{
    background: #734018;
    height: 66px;
    padding: 10px 22px;
    ul{
        list-style: none;
        margin: 0px;
        padding-left: 0px;
        li{
            float: left;
            width: 33%;
           
        }
    }
}

.w-img{
    width: 100%;
}
/* home */
.home{
    padding: 28px 23px 93px 25px;
    img{
        padding-top:41px;
    }
}

/* versus*/
.versus{
    background: #f7228f;
    text-align:center;
    padding: 27px 43px 29px;
}

/*confirma*/
.confirma{
    text-align:center;
    background: #f7228f;
    padding: 35px 30px 50px;
    img{
        padding-bottom: 35px;
    }
}
/*pregunta1*/
.pregunta{
    padding: 20px 26px 40px 30px;
    text-align: center;
    p{
        font-size: 16px;
        color:  #e5138e;
        font-weight: bold;
    }
    h4{
        font-size: 23px;
        font-weight: bold;
        color: #734018;
        margin: 0px;
        padding: 25px 0px 46px;
    }

    .boton{
        background-size:cover ;
        border: 1px solid #FD8F36;
        display: block;
        padding: 14px 10px 17px 23px;
        border-radius: 4px;
        text-decoration: none;
        margin-bottom: 13px;
        h3{
            color: #734018;
            text-align: left;
            font-weight: 400;
            font-size:14px;
            margin: 0px;
        }  
    }
        
        
        
        


    .pink{
        background: #e5138e;
        border: 1px solid #e5138e;
        display: block;
        padding: 14px 10px 17px 23px;
        border-radius: 4px;
        color: white;
        font-weight: 400;
        text-decoration: none;
        margin-bottom: 13px;
        &:hover {
           background:#e5138e;
        }
    }
    .marrom{
        background: #734018;
        border: 1px solid #734018;
        display: block;
        padding: 14px 10px 17px 23px;
        border-radius: 4px;
        color: white;
        font-weight: 400;
        text-decoration: none;
        margin-bottom: 13px;
        &:hover {
           background:#734018;
        }
    }
}

.x{background-image:url("../img/group6.png"); }
.o{background-image:url("../img/group10.png");}

/*perdiste*/
.perdiste{
    text-align: center;
    padding: 30px 30px 53px;
}
.resultado{
    p{
        font-size: 14px;
        color:  #e5138e;
        font-weight: 500;
    }
    .datos{
        padding: 12px 0px;
        h4{
            font-size: 24px;
            color: #734018;
            line-height: 31px;
            font-weight: bold;
            margin: 0px;
            span{
                color:  #e5138e;

            }
        }
    }
    h3{
        font-size: 12px;
        color: #734018;
        padding-bottom: 85px;
        margin: 0px;
        padding-top: 14px;
    }
    h2{
        font-size: 14px;
        color: #734018;
        margin: 0px;
        padding: 14px 10px 15px;
        font-weight: bold;
    }
}

/**/
.recompensas{
    padding: 37px 26px 90px 46px;
}
/*espera*/
.espera{
    text-align:center;
    padding: 55px 30px 96px;
}
/*crrrecto*/
.validad{
    background: #734018;
    padding: 13px;
    .bgwhite{
        padding:48px 10px 10px;;
        background: white;
        h3{
            font-size: 14px;
            font-weight: bold;
            color: #734018;
            padding: 0px 21px 2px;
            line-height: 19px;
            span{
                color: #e5138e;
            }
        }
        .img-validar{
            position: relative;
            img{
                position: absolute;
                left: -23px;
                top: -3px;
            }
        }
        .img-x{
            position: relative;
            img{
                position: absolute;
                right: -5px;
                top: -40px;
            }
        }
    }
}
.mt-194{
    margin-top: 198px;
}
.mt-105{
    margin-top: 110px;
}
.position{
    position:relative
}
.display{
    display: block;
    margin: 0 auto;
}
/**/
.ranking-1{
    background: #f60587;
    padding: 30px 18px;
    text-align: center;
}
.compromiso{
    padding: 26px 23px 87px 24px;
}
.rueda{
    padding: 28px 19px 24px;
    p{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #733A19;
        font-weight: bold;
    }

    

    
}
.box{
    width: 175px;
    height: 85px;  
    position: absolute;
    top: 20px;
    left: 80px;
    z-index: 1;
}






.box-ruleta {
  position: absolute;

}
.roulette {
  position: absolute;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  left: 10px;
  background-size: 300px 300px;
  background-image: url('../img/rueda.png');
  border-radius: 300px;
}
.spinner{
    position: absolute;
    top: 90px;
    left: 110px;
    background-image: url('../img/eje.png');
    width: 100px;
    height: 120px;
}


