html,
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    background: white;
    
}

body.body-overflow, html.body-overflow {
    overflow: hidden;
    @media (min-width: $screen-md-min) {
        overflow: auto;
    }
}



.wrapper {
    padding-left: 0;
    @media (min-width: $screen-md-min) {
        padding-left: 248px;
    }
}
