.sidebar-menu
    ul
        li
            a(href="")
                img(src="img/icon.png", alt="")
        li
            a(href="")
                 img(src="img/icon2.png", alt="")
        li
            a(href="")
                img(src="img/group4.png", alt="")

