.modal.fade(tabindex="-1", role="dialog", aria-labelledby="gridSystemModalLabel", id="Modal-contact")
    .modal-dialog.modal__contain(role="document")
        .modal-content.modal__contain--sub
            .modal-button
                button.close(type="button", data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-header
                h3.modal__h3 FORMULARIO
            .modal-body.modal__form
                form
                    .form-group
                        p.form__tittle NOMBRES Y APELLIDOS
                        input.form-control.form__input(type="text")
                        p.form__tittle  E-MAIL
                        input.form-control.form__input(type="email")
                        p.form__tittle  TELÉFONO
                        input.form-control.form__input(type="number")
                        p.form__tittle  PREGUNTAS / COMENTARIOS
                        textarea.form-textarea
                        button.modal__enviar(type="submit") ENVIAR


.modal.fade.disponibilidad(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
    .modal-dialog.modal-lg(role='document')
        .modal-content.ambientes-content
            .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .row
                    .col-md-12
                        table.table.datos

                            thead

                                tr.tabla-oculta
                                    th Nº
                                    th M
                                        sup 2
                                    th D.
                                    th B.
                                    th T.
                                    th PLANO

                                tr.tabla-oculta2
                                    th Nº
                                    th M
                                        sup 2
                                    th DORM.
                                    th BAÑOS
                                    th TERRAZA
                                    th PLANO
                            tbody
                                tr
                                    td 201
                                    td 407
                                    td 3
                                    td 4
                                    td si
                                    td
                                        a(href="pdf/departamento-201.pdf", target="_blank") VER PLANO
                                tr
                                    td 203
                                    td
                                    td
                                    td
                                    td
                                    td
                                        a(href="pdf/departamento-203.pdf", target="_blank") VER PLANO
                                tr
                                    td 1302
                                    td 311
                                    td 3
                                    td 4
                                    td si
                                    td
                                        a(href="pdf/departamento-1302.pdf", target="_blank") VER PLANO
                                tr
                                    td 1402
                                    td 255
                                    td 2D + E
                                    td 3
                                    td si
                                    td
                                        a(href="pdf/departamento-1402.pdf", target="_blank") VER PLANO
                                tr
                                    td 1601
                                    td 597
                                    td 4D + E
                                    td 5
                                    td si
                                    td
                                        a(href="pdf/departamento-1601.pdf", target="_blank") VER PLANO
                                tr
                                    td 1801
                                    td
                                    td
                                    td
                                    td
                                    td
                                        a(href="pdf/departamento-1801.pdf", target="_blank") VER PLANO

.modal.fade.ficha-tecnica(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel')
    .modal-dialog.modal-lg(role='document')
        .modal-content.ficha-content
            .modal-header
                h4 FICHA TÉCNICA

            .modal-body
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .row
                    .col-lg-5.col-xs-6
                        .nombre-ficha
                            h4 Arquitecto
                            h4 Bernardo Fort-Brescia

                        .detalle-ficha
                            p  32 departamentos
                            .elementos-ficha
                                h4 ConecIvidad integrada
                                h4 Sonido centralizado
                                h4 Aire acondicionado

                            p 143 estacionamientos
                            p 32 depósitos


                    .col-lg-7.col-xs-5
                        li - Lobby
                        li - Estar
                        li - Lounge
                        li - Sala de jóvenes
                        li - Sala de niños
                        li - Gimnasio
                        li - Sala para masajes
                        li - Piscina deportiva techada y climatizada de 25 mts.
                        li - Sala de cine
                        li - Sala para choferes
                        li - 32 estacionamientos para visitas.
                        li - Sistema de reciclaje de agua.


