.visor
    .owl-carousel

    nav.navigator
        button.navigator__arrow.navigator__arrow--left
            i.glyphicon.glyphicon-chevron-left

        .navigator__pagination
            .navigator__pages
                input.navigator__current(type="text")
                | de
                .navigator__total
            button.navigator__button Ir al slide

        button.navigator__arrow.navigator__arrow--right
            i.glyphicon.glyphicon-chevron-right




