.contacto{
    padding: 92px 20px 195px 20px;
    .logo-titulo{
        p{
            color: rgb(115, 64, 24);
            background: white;
        }
        .raya{
            border-top: 1px solid #734018;
            
        }
    }
    .formulario{
        padding-top: 47px;
    }
}

.form-group1{
   .form-control{
        font-size: 15px;
        color: #734018;
        border: 1px solid #734018;
        height: 40px;
        
   }
}


.buttom-pink{
    background: #e5138e ;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;

}
.buttom-elige{
    background: #FD8F36;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;

}