.home-dunkin{
    background: #e5138e ;
    height:100vh;
    width: 100%;
    position: relative;
}

.logo-titulo{
    width: 195px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 40%;
    img{
        width: 192px;
    }
    p{
        font-family: 'Lato';
        font-size: 20px;
        letter-spacing: -1.3px;
        font-weight: bold;
        color: white;
        background: #e5138e;
        margin: 0 auto;
        position: relative;
        width: 138px;
        z-index: 10;
    }
    .raya{
        width: 100%;
        bottom: -9px;
        position: absolute;
        border-top: 1px solid white;



    }

}

body{
    margin: 0px;
}