.rival{
    padding: 50px 15px 30px 15px;
    background: #e5138e;
    .dona-central{
        text-align: center;
        color: white;
        p{
            font-size: 46px;
            letter-spacing: 1.8px;
            font-weight: bold;
            margin: 0px;
            line-height: 10px;
        }
        h3{
            font-size: 14px;
        }
    }
    .content-rival{
        background: #F8F7F5;
        margin-top: 23px;
        padding: 8px 11px 15px 13px;
        border-radius: 4px;
        p{
            font-size: 16px;
            text-align:center;
            color: #703914;
            font-weight: bold;
        }
        .content-nombre{
            background: white;
            padding: 15px 20px  23px 25px
        }
    }
}