extends layout
block content
    include inc/menu


    img.img-responsive.w-img(src="img/compromiso.png", alt="")
    .compromiso
        a(href="pregunta1.html")
            button.buttom-pink.btn.btn-lg.btn-block(type='button') CONTINUAR

