extends layout
block content
    include inc/menu

    .confirma
        img(src="img/versus.png", alt="")
        a(href="rueda.html")
            button.buttom-elige.btn.btn-lg.btn-block(type='button') CONFIRMAR VERSUS



    include inc/footer
