extends layout
block content
    .contacto
        .col-lg-12
            .logo-titulo
                img(src="img/logo1.png", alt="")
                hr.raya
                p PREGUNTADOS
            .formulario
                form
                    .form-group1
                        input#formGroupExampleInput.form-control(type='text', placeholder='Usuario')
                    .form-group1
                        input#formGroupExampleInput.form-control(type='text', placeholder='Contraseña')
                button.buttom-pink.btn.btn-lg.btn-block(type='button') INGRESAR



