extends layout
block content
    include inc/menu

    .espera
        .resultado
            .dato
                h4 <span>01</span> Correctas
                h4 <span>04</span> Incorrectas
            img(src="img/group11.png", alt="")
            h2 Espera la respuesta de tu oponente. Luego de su partida te informaremos de los resultados.
        button.buttom-pink.btn.btn-lg.btn-block(type='button') ACEPTAR


    include inc/footer
