extends layout
block content
    include inc/menu

    .perdiste
        .resultado
            p RESULTADO FINAL
            img(src="img/ganaste.png", alt="")
            .datos
                h4 <span>03</span> Correctas
                h4.pb-10 <span>02</span> Incorrectas
            img(src="img/group18.png", alt="")
            h3 Te falta <strong>  14 respuestas </strong> <br> correctas para subir de nivel
        button.buttom-pink.btn.btn-lg.btn-block(type='button') JUGAR NUEVAMENTE


    include inc/footer
