extends layout
block content
    .validad
        .bgwhite
            a(href="")
                .img-x
                    img(src="img/x.png", alt="")
            img.display(src="img/ganado.png", alt="")


            button.mt-105.buttom-pink.btn.btn-lg.btn-block(type='button') CONTINUAR
