extends layout
block content
    include inc/menu

    .home
        a(href="versus-solo.html")
            button.buttom-pink.btn.btn-lg.btn-block(type='button') NUEVA PARTIDA

        img(src="img/home.png", alt="")


    include inc/footer
