extends layout
block content
    .validad
        .bgwhite
            a(href="")
                .img-x
                    img(src="img/x.png", alt="")
            img.display(src="img/incorrecto.png", alt="")

            h3 <span>Conecta:</span> destaca el contacto visual, sonreír, saludar, reconocer y la disposición de servicio.

            h3 <span>Impacta:</span> destaca: la iniciativa, sorprender con detalles y solucionar

            h3 <span>Relaciona:</span> destaca la personalización de tu atención e invitar a repetir y agradecer por la experiencia

            .img-validar
                img(src="img/page1.png", alt="")

            button.position.mt-194.buttom-pink.btn.btn-lg.btn-block(type='button') CONTINUAR
