doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Dunkin-donuts
        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css?v=1.3')
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet')
        link(rel='stylesheet', href='lib/owl.carousel/dist/assets/owl.carousel.min.css')

    body
        block content

        script(src='lib/jquery/dist/jquery.min.js')
        script(src='lib/gsap/src/minified/TweenMax.min.js')
        script(src='lib/owl.carousel/dist/owl.carousel.min.js')
        script(src='lib/bootstrap/dist/js/bootstrap.min.js')
        script(src='js/map.js')
        script(src='js/main.js?v=1.3')
        script(src='js/ruleta.min.js')
        script(src='js/TweenMax.min.js')

