extends layout
block content
    include inc/menu

    .perdiste
        .resultado
            p RESULTADO FINAL
            img(src="img/perdiste.png", alt="")
            .datos
                h4 <span>01</span> Correctas
                h4 <span>04</span> Incorrectas
            img(src="img/group18.png", alt="")
            h3 Te falta <strong>  14 respuestas </strong> <br> correctas para subir de nivel
        button.buttom-pink.btn.btn-lg.btn-block(type='button') CONFIRMAR VERSUS


    include inc/footer
