extends layout
block content
    include inc/menu

    .pregunta
        //*p 00:
            span#timeLeft 10
        h4 ¿A qué hace referencia el sistema ICR?
        a(href="").boton#r-correcto(href="")
            h3 A. Conecta, Impacta, Relaciona
        a(href="").boton#r-incorrecto(href="")
            h3 B. Conecta, Innova, Reacciona
        a(href="").boton#r-incorrecto(href="")
            h3 C. Comunica, Intuye, Responde
        a(href="").boton#r-incorrecto(href="")
            h3 D. Conecta, Impacta, Reconoce

