extends layout
block content
    include inc/menu

    .pregunta
        p 00:05
        h4 ¿A qué hace referencia el sistema ICR ?
        a.pink(href="correcto.html") A. Conecta, Impacta, Relaciona
            img(src="img/group6.png", alt="")
        a(href="") B. Conecta, Innova, Reacciona
        a(href="") C. Comunica, Intuye, Responde
        a(href="") D. Conecta, Impacta, Reconoce

