extends layout
block content
    include inc/menu

    .pregunta
        p 00:
            span#timeLeft 10
        h4 Un requisito mínimo para ser colaborador del mes es:
        a.r-incorrecto(href="") A. Tener máximo 3 tardanzas justificadas
        a.r-correcto(href="") B. No tener ninguna falta injustificada
        a.r-incorrecto(href="") C. Traer el uniforme completo en la maleta
        a.r-incorrecto(href="") D. Cubrir el turno de un compañero
