extends layout
block content
    include inc/menu

    .pregunta
        p 00:
            span#timeLeft 10
        h4 ¿Cuál corresponde a los tips de finishing?
        a.r-incorrecto(href="") A. No repongas las donuts al instánte
        a.r-incorrecto(href="") B. Sirve las donuts aunque se vean mal
        a.r-incorrecto(href="") C. Prueba una donut para asegurar su sabor.
        a.r-correcto(href="") D. Pon un papel encerado limpio en el fondo de la caja.
