extends layout
block content
    include inc/menu

    .pregunta
        p 00:05
        h4 ¿A qué hace referencia el sistema ICR ?
        a.pink(href="correcto.html") A. Conecta, Impacta, Relaciona
        a.marrom(href="incorrecto.html") B. Conecta, Innova, Reacciona
           img(src="img/group10.png", alt="")
        a(href="") C. Comunica, Intuye, Responde
        a(href="") D. Conecta, Impacta, Reconoce
