extends layout
block content
    include inc/menu

    .pregunta
        p 00:
            span#timeLeft 10
        h4 ¿Cuál no es una conducta de las 5 U’S?
        a.r-incorrecto(href="") A. Tú eres entusiasta
        a.r-incorrecto(href="") B. Tú eres funático
        a.r-correcto(href="") C. Tú eres muy callado
        a.r-incorrecto(href="") D. Tú lo haces mi Dunkin





