extends layout
block content
    include inc/menu
    .rival
        .col-lg-12
            .dona-central
                img(src="img/group21.png", alt="")
                p vs
                h3 Elige tu rival
            a(href="confirma.html")
                button.buttom-elige.btn.btn-lg.btn-block(type='button') ELEGIR ALEATORIO
            .content-rival
                p ESCOGER A MI RIVAL
                .content-nombre
                    .form-group
                        input#formGroupExampleInput.form-control(type='text', placeholder='Ingresar nombre...')
                    img.text-center(src="img/nombre.png", alt="")
    include inc/footer

