extends layout
block content
    include inc/menu
    .rueda
        p GIRA LA RUEDA PARA ELEGIR <br> UNA CATEGORIA:
        .box-ruleta
            a(href="compromiso.html")
                .box
            .roulette
            .spinner
                span

                .pointer




