extends layout
block content
    include inc/menu

    .versus
        a(href="rival.html")
            img(src="img/vs.png", alt="")

        a(href="    ")
            img(src="img/solo.png", alt="")


    include inc/footer
